<link rel="stylesheet" href="~/css/site.css" />


<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/img/images/about-img.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Registered <span>Doctor</span>
                        </h2>
                    </div>
                    <p>
                        Hello! As a registered docotr you can access you schedule, appointments and make prescriptions!
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>