@model ServiceServiceModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.EquipmentPicture" alt="Doctor Image">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <h6>
                Price Per Booking:
                <b>@String.Format("{0:f2}", Model.Price) &euro;</b>
            </h6>
            <br />
            @if (this.User?.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="Doctor" asp-action="Details" asp-area="Patient" asp-route-id="@Model.Id"
                   class="btn btn-warning">Make Booking</a>

                <p></p>

            }
        </div>
    </div>
</div>

