@{
    ViewData["Title"] = "Departments";
}


<section class="department_section layout_padding">
    <div class="department_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Our Departments
                </h2>
                <p>
                    Asperiores sunt consectetur impedit nulla molestiae delectus repellat laborum dolores doloremque accusantium
                </p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div style="background-color: rgba(255, 255, 255, 0.5);" class="box ">
                        <div class="img-box">
                            <img src="~/img/images/s1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Cardiology
                            </h5>
                            <p>
                                fact that a reader will be distracted by the readable page when looking at its layout.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div style="background-color: rgba(255, 255, 255, 0.5);" class="box ">
                        <div class="img-box">
                            <img src="~/img/images/s2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Diagnosis
                            </h5>
                            <p>
                                fact that a reader will be distracted by the readable page when looking at its layout.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div style="background-color: rgba(255, 255, 255, 0.5);" class="box ">
                        <div class="img-box">
                            <img src="~/img/images/s3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Surgery
                            </h5>
                            <p>
                                fact that a reader will be distracted by the readable page when looking at its layout.
                            </p>
                        </div>
                    </div>
                </div>
                <div   class="col-md-3">
                    <div style="background-color: rgba(255, 255, 255, 0.5);" class="box ">
                        <div class="img-box">
                            <img src="~/img/images/s3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                First Aid
                            </h5>
                            <p>
                                fact that a reader will be distracted by the readable page when looking at its layout.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    View All
                </a>
            </div>
        </div>
    </div>
</section>
