@{
    ViewData["Title"] = "Home Page";
}

<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Your Health, Our Priority
                                </h1>
                                <p>
                                    Welcome to our healthcare center, where your well-being is our utmost priority. Our team of skilled medical professionals is dedicated to providing comprehensive and personalized care for all our patients. With state-of-the-art facilities and a patient-centric approach, we are committed to helping you achieve optimal health and wellness.
                                </p>                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Compassionate Care for All Ages
                                </h1>
                                <p>
                                    At our healthcare facility, we understand that health needs differ at every stage of life. That's why we offer a wide range of services tailored to meet the diverse healthcare needs of individuals of all ages. From pediatric care to specialized treatments for seniors, our compassionate team is here to support you and your loved ones through every life phase.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Embracing Innovation in Healthcare
                                </h1>
                                <p>
                                    We believe in staying at the forefront of medical advancements to offer you the best possible care. Our commitment to innovation drives us to adopt the latest technologies and treatment modalities, ensuring that you receive cutting-edge healthcare solutions. Rest assured that you are in capable hands with our team, who continually strive to improve your health outcomes.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
    </div>

</section>
