@model NextOfKinViewModel

<link rel="stylesheet" href="~/css/site.css" />

@if (Model.FormsCompleted || TempData["Formcompleted"] != null)
{
    <section class="about_section layout_padding">
        <div class="container  ">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="~/img/images/about-img.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Registered <span>User</span>
                            </h2>
                        </div>
                        <p>
                            Hello! As a registered user you can access our services of making doctors and using eqipment appointmens!
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="login-container">
        <div class="login-box-container">
            <div class="box-right"></div>
            <div class="box-left">
                <div class="form-title">
                    <h2>Please, enter your next of kin details for emergencies!</h2>
                </div>

                <form asp-action="index" asp-controller="Home" asp-area="Patient" method="post">
                    <div class="form-input-container">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="text-center" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-input-container">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="text-center" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-input-container">
                        <label asp-for="Address"></label>
                        <textarea style="width: 20rem" asp-for="Address" class="text-center"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-input-container">
                        <button type="submit" class="btn btn-primary col-3">Continue</button>
                    </div>

                    <div class="form-outline text-center text-danger">
                        <span asp-validation-summary="All"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
