@model MedicalHistoryViewModel

<link rel="stylesheet" href="~/css/site.css" />


<div class="login-container">
    <div class="login-box-container">
        <div class="box-right"></div>
        <div class="box-left">
            <div class="form-title">
                <h2>Please, describe your surgeries and medical history!</h2>
            </div>

            <form asp-action="Register" asp-controller="Account" method="post">
                <div class="form-input-container">
                    <label asp-for="Surgery"></label>
                    <textarea style="width: 20rem" asp-for="Surgery" class="text-center"></textarea>
                    <span asp-validation-for="Surgery" class="text-danger"></span>
                </div>

                <div class="form-input-container">
                    <label asp-for="MedicalConditions"></label>
                    <textarea style="width: 20rem" asp-for="MedicalConditions" class="text-center"></textarea>
                    <span asp-validation-for="MedicalConditions" class="text-danger"></span>
                </div>
                <div class="form-input-container">
                    <button type="submit" class="btn btn-primary col-3">Continue</button>
                </div>

                <div class="form-outline text-center text-danger">
                    <span asp-validation-summary="All"></span>
                </div>
            </form>
        </div>
    </div>
</div>