@using static SimpleClinic.Common.ExceptionMessages.NotificationMessages

@if (!string.IsNullOrEmpty((string?)ViewData[ErrorMessage]))
{
<div class="alert alert-primary d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
    <div>
        @ViewData[ErrorMessage]
    </div>
</div>
}