@model DoctorScheduleViewModel


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2 class="text-center">Add or Update Nexts Week Schedule</h2>
            <form asp-action="AddOrUpdateSchedule" asp-controller="Doctor" method="post">
                <input type="hidden" asp-for="DoctorId" />
                @for (var i = 0; i < Model.Days.Count; i++)
                {
                    var dayOfWeek = Model.Days[i].Day.DayOfWeek;
                    if (dayOfWeek != DayOfWeek.Saturday && dayOfWeek != DayOfWeek.Sunday)
                    {
                        <h3>@Model.Days[i].Day.ToString("dddd, dd MMMM yyyy")</h3>

                        <div id="timeSlotsContainer_@i">
                            @for (var j = 0; j < Model.Days[i].TimeSlots.Count; j++)
                            {
                                <div class="form-group">
                                    <label asp-for="Days[i].TimeSlots[j].StartTime">Start Time</label>
                                    <input asp-for="Days[i].TimeSlots[j].StartTime" class="form-control" />
                                    <span asp-validation-for="Days[i].TimeSlots[j].StartTime" class="text-danger"></span>
                                </div>
                            }
                        </div>

                        <button type="button" class="btn btn-primary" onclick="addTimeSlot(@i)">Add Time Slot</button>
                    }
                }

                <button type="submit" class="btn btn-success">Save Schedule</button>
            </form>
        </div>
    </div>
</div>



@section scripts {
    <script>
        function addTimeSlot(dayIndex) {
            var containerId = "timeSlotsContainer_" + dayIndex;
            var index = $("#" + containerId + " .form-group").length;
            var timeSlotTemplate = `
                                <div class="form-group">
                                    <label asp-for="Days[${dayIndex}].TimeSlots[${index}].StartTime">Start Time</label>
                                    <input asp-for="Days[${dayIndex}].TimeSlots[${index}].StartTime" class="form-control" />
                                    <span asp-validation-for="Days[${dayIndex}].TimeSlots[${index}].StartTime" class="text-danger"></span>
                                </div>
                            `;
            $("#" + containerId).append(timeSlotTemplate);
        }
    </script>
}
