@model List<DayScheduleViewModel>

<div class="container mt-4 mb-4 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <h2>Doctor's Schedule</h2>

            @if (Model.Count == 0)
            {
                <p>No schedule found.</p>
            }
            else
            {
                @foreach (var day in Model)
                {
                    <h3>@TimeZoneInfo.ConvertTimeFromUtc(day.Day, TimeZoneInfo.Local).ToString("dddd, dd MMMM yyyy")</h3>
                    <ul class="list-group list-group-flush">
                        @foreach (var timeSlot in day.TimeSlots.OrderBy(ts => ts.StartTime))
                        {
                            if (timeSlot.IsAvailable)
                            {
                                var startTimeLocal = TimeZoneInfo.ConvertTimeFromUtc(timeSlot.StartTime, TimeZoneInfo.Local);
                                var endTimeLocal = startTimeLocal.AddHours(1);
                                <li class="list-group-item">@startTimeLocal.ToString("hh:mm tt") - @endTimeLocal.ToString("hh:mm tt")</li>
                            }
                        }
                    </ul>

                    <a class="btn btn-danger mt-1" asp-area="Doctor" asp-controller="AddOrUpdateSchedule" asp-action="EditSchedule">Edit Schedule</a>
                }
            }
        </div>
    </div>
</div>
