.main-container {
    height: 100vh;
    min-height: 750px;
    margin-left: 2rem;
    margin-right: 2rem;
    min-width: 340px;
    display: flex;
    flex-direction: column;
}

.complete-box {
    width: 100%;
    min-width: 750px;
    height: fit-content;
    background-color: white;
    margin-top: 10rem;
    padding: 5rem;
}
