.main-container {
    height: 100vh;
    min-height: 750px;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    min-width: 340px;
}

.options-box {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

    .options-box > a {
        width: 200px;
        height: 100px;
    }

.options-items {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.table-box {
    width: 100%;
    min-width: 750px;
    height: fit-content;
    background-color: white;
    margin-top: 7.5rem;
    padding: 5rem;
}

#dataTable_wrapper {
    width: 100%;
    min-width: 435px;
}

    #dataTable_wrapper img {
        width: 120px;
        height: 120px;
        border-radius: 15%;
    }

    #dataTable_wrapper table th {
        background-color: #0d6efd;
        color: white;
    }
