.main-container {
    height: 100vh;
    min-height: 750px;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    min-width: 340px;
}

.table-box {
    width: 100%;
    min-width: 650px;
    margin-top: 5rem;
    height: fit-content;
    background-color: white;
    padding: 5rem;
    display: flex;
    justify-content: space-around;
}

    .table-box a {
        text-decoration: none;
    }

    .table-box .tile {
        width: 15rem;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2rem;
        transition: box-shadow 0.2s;
    }

        .table-box .tile:hover {
            width: 15rem;
            height: 15rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 2rem;
            -webkit-box-shadow: 0px 2px 12px 0px rgba(66, 68, 90, 1);
            -moz-box-shadow: 0px 2px 12px 0px rgba(66, 68, 90, 1);
            box-shadow: 0px 2px 12px 0px rgba(66, 68, 90, 1);
        }

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}