.main-container {
    height: 100vh;
    min-height: 750px;
    margin-left: 2rem;
    margin-right: 2rem;
    min-width: 340px;
    display: flex;
    flex-direction: column;
}

.realize-box {
    width: 100%;
    min-width: 750px;
    height: fit-content;
    background-color: white;
    margin-top: 7.5rem;
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 span {
    color: red;
}

h3, h4 {
    font-style: italic;
}

h3 {
    margin-top: 2rem;
}
