/* Login */


.login-container {
    height: 100vh;
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
}

    .login-container::after {
        content: "";
        background: url("../img/images/login_background.jpg");
        background-size: cover;
        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

.login-box-container {
    height: fit-content;
    width: 80rem;
    border-radius: 1rem;
    display: flex;
    -webkit-box-shadow: 2px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 2px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 2px 8px 24px 0px rgba(66, 68, 90, 1);
}

.box-right {
    width: 50%;
    padding-bottom: 1rem;
    background-image: url("../img/images/login-main.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 1rem 0 0 1rem;
}

.box-left {
    width: 50%;
    padding-bottom: 1rem;
    background-color: white;
    border-radius: 0 1rem 1rem 0;
}

    .box-left .form-title {
        padding-top: 2rem;
        text-align: center;
    }

        .box-left .form-title h4 {
            margin-top: 1rem;
            padding-bottom: 2rem;
        }

    .box-left form {
        text-align: center;
        margin-top: 2rem;
    }

.form-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .form-input-container label {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .form-input-container input {
        width: 20rem;
        height: 2rem;
        border-radius: 1rem;
        text-align: center;
    }

        .form-input-container input:focus {
            box-shadow: 0 0 8pt 4pt #D3D3D3;
        }

    .form-input-container button {
        width: 15rem;
        height: 2rem;
        margin-top: 2rem;
    }

        .form-input-container button:hover {
            box-shadow: 0 0 5pt 2pt #D3D3D3;
        }



@media (max-width: 1400px) {
    .login-box-container {
        width: 60rem;
        margin-top: 1rem;
    }

    .box-left .form-title {
        padding-top: 2rem;
    }

        .box-left .form-title h4 {
            margin-top: 1rem;
        }

    .box-left form {
        text-align: center;
        margin-top: 2rem;
    }

    .form-input-container input {
        width: 20rem;
        height: 2rem;
    }

    .form-input-container button {
        width: 15rem;
        height: 2rem;
        margin-top: 2rem;
    }
}


@media (max-width: 900px) {
    .login-box-container {
        width: 40rem;
        margin-top: 6rem;
    }

    .box-left .form-title {
        padding-top: 1rem;
    }

        .box-left .form-title h2 {
            margin-top: 1rem;
            font-size: 2rem;
        }

        .box-left .form-title h4 {
            margin-top: 1rem;
            font-size: 1rem;
        }

    .box-left form {
        margin-top: -1.5rem;
    }

    .form-input-container input {
        width: 12rem;
        height: 2rem;
        margin-top: 1.5rem;
    }

    .form-input-container button {
        width: 10rem;
        height: 2rem;
        margin-top: 1.5rem;
    }
}

@media (max-width: 650px) {
    .login-box-container {
        width: 20rem;
        margin-top: 0;
        border-radius: 2rem;
        display: block;
    }

    .box-right {
        width: 100%;
        height: 12rem;
        background-image: url("../img/images/login-main.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 2rem 2rem 0 0;
    }

    .box-left {
        width: 100%;
        height: fit-content;
        background-color: white;
        border-radius: 0 0 2rem 2rem;
    }

        .box-left .form-title {
            text-align: center;
            padding-top: 2rem;
        }

            .box-left .form-title h2 {
                margin: 0;
                font-size: 2rem;
            }

            .box-left .form-title h4 {
                margin-top: 1rem;
                font-size: 1rem;
            }

        .box-left form {
            text-align: center;
        }

    .form-input-container input {
        width: 14rem;
        height: 2rem;
    }

    .form-input-container button {
        width: 10rem;
        height: 2rem;
        line-height: 2px;
        margin-top: 2rem;
        font-size: 1rem;
    }
}
